# Dependencies
node_modules/

# Build
dist/
dist-ssr/
*.local
*.tsbuildinfo

# Env
.env
.env.*
!.env.sample

# Logs
logs/
*.log

# IDE / OS
.idea/
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.DS_Store
Thumbs.db
